
body{
    background-color: papayawhip;
} 




hr {

    border-style: dotted none none;
    border-color: #CE7777;
    border-width: 13px;
    width: 8%;
     
     


} 


h1 {
    color:#166b6b
}

h3{
    color:#115757
}